<form class="form-horizontal" {{action 'submit' on='submit'}}>
<label for="identification">Email</label>
{{input id="identification" value=identification placeholder="Enter Login" class="form-control"}}

</form>   