html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
}

.container-fluid {
  padding:0px;
  margin:0;
}

.col-md-4 {
  height:33.3333333vh;
  border:5px solid black;
  outline: 5px solid white;
}

.col-md-3 {
  height:33.3333333vh;
  border:5px solid black;
  outline: 5px solid white;
}

.col-md-12 {
  height:100%;
}

h1.sick-logo{
  font-size:52pt;
}

.art-block {
  padding:0;
}
.art-info {
  display:inline-block;
  position:absolute;
  top:0;
  left:0;
  padding:0;
  background-color:white;
  opacity: .95;
  width:100%;
  height:100%;
  border: 1px solid yellow;
}