html, body {
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
}

.container-fluid {
  padding:0px;
  margin:0;
}

#main-container {
  height:100vh;
  margin: 0px;
  border: 0px solid lightblue;
}

#side-nav {
  height:100vh;
  color:black;
  padding-right:0;
}

#right-main {
  padding-left:0;
}

#left-show {
  height:100vh;
  padding-left:0;
  padding-right:0;
}

#image-show {
  height:66.666666vh;
  outline: 1px solid lightblue;
  outline-offset: 12px;
  padding-left:0;
}

.show-page-img {
  position:absolute;
  bottom:15px;
  left:15px;
  max-width:100%;
  max-height:100%;
}

.display-name {
  margin-bottom:0;
  margin-top:0;
}

.col-md-4 {
  border:0px;
}

.col-md-3 {
  height:33.3333333vh;
  border:0px solid black;
  outline: 0px solid white;
}

.col-md-12 {
  height:100%;
}

.side {
  height:33.333333vh;
  padding:15px;
  border:0px;
  outline: 1px solid lightblue;
  outline-offset: 12px;
}

h1.sick-logo{
  font-size:52pt;
  position:absolute;
  bottom:-5px;
  left:0px;
  color:black;
  margin-left:10px;
}

.art-block {
  height:33.3333333vh;
  padding:15px;
  display:flex;
  overflow:hidden;
  text-align:center;
  outline: 1px solid lightblue;
  outline-offset: 12px;
}



.show-block {
  padding-bottom:10px;
}

.show-block p {
  margin-bottom:2px;
}

.art-info {
  display:inline-block;
  position:absolute;
  top:15px;
  left:15px;
  padding:15px;
  background-color:white;
  opacity: .95;
  width:100%;
  height:100%;
}

.helper {
  display: inline-block;
  height:100%;
  vertical-align:bottom;
}

.valign-helper {
  display:table;
  width:100%;
  height:100%;
}
.valign-cell {
  display:table-cell;
  vertical-align: bottom;
  text-align:left;
  padding-left:3px;
}

.grid-image {
  flex:0;
  min-height:100%;
  min-width:100%;
}

.modal-header {
  border:0px;
}

.btn-half {
  width: calc(50% - 2px);
  display:inline-block;
}

legend {
  text-align:left;
}

.form-group-sm .col-lg-9{
  padding-top:3px;
  padding-bottom:3px;
}

@media (max-width: 992px) {
  .art-block {
    height:66.666vh;
  }
  .side {
    height:66.666vh;
  }
  .main-container {
    outline: 0;
    height: auto;
  }
  #side-nav {
    height: auto ;
  }
}

