<div class="container-fluid" id="main-container"> 


  <div class="col-md-3" id="side-nav">

  <div class="col-md-12 side logo">
    <h1 class="sick-logo"> Art Space</h1>
  </div>
  <div class="col-md-12 side">
  {{link-to "Art!" "arts" class="btn btn-default btn-lg btn-block"}}
  {{link-to "Space!" "spaces" class="btn btn-default btn-lg btn-block"}}
  </div>
  <div class="col-md-12 side">
  {{login-form triggerAuthenticate=(action "authenticate") errorMessage=errorMessage}}
  </div>
  
 </div>




     <div class="col-md-9" id="right-main">  
      {{outlet}}
    </div>



</div>


