<div class="container-fluid" id="main-container" style="height:100vh">


  <div class="col-md-3" id="side-nav" style='height:100vh; background-color: black; color: white;'>


  <h1 class="sick-logo"> Art Space</h1>
{{link-to "Art!" "arts" class="btn btn-default btn-lg btn-block"}}
{{link-to "Space!" "spaces" class="btn btn-default btn-lg btn-block"}}
{{login-form}}
  
 </div>




     <div class="col-md-9">  
      {{outlet}}
    </div>



</div>


