
  <div class="col-md-4">
    Art 1
  </div>
  <div class="col-md-4">
Art 2
  </div>
  <div class="col-md-4">
   Art 3
  </div>


  <div class="col-md-4">
 Art 4
  </div>
  <div class="col-md-4">
 Art 5
  </div>
  <div class="col-md-4">
 Art 6
  </div>




  <div class="col-md-4">
 Art 7
  </div>
  <div class="col-md-4">
 Art 8 
  </div>
  <div class="col-md-4">
 Art 9 
  </div>


{{outlet}}
