<div class="col-md-4 art-block">
</div>
<div class="col-md-4 art-block">
</div>
<div class="col-md-4 art-block">
</div>
<div class="col-md-4 art-block">
</div>
<div class="col-md-4 art-block">
</div>
<div class="col-md-4 art-block">
</div>
<div class="col-md-4 art-block">
</div>
<div class="col-md-4 art-block">
</div>
<div class="col-md-4 art-block">
</div>