<div class="col-md-4 art-block">
</div>
<div class="col-md-4 art-block">
</div>
<div class="col-md-4 art-block">
</div>
<div class="col-md-4 art-block">
</div>
<div class="col-md-4 art-block">
<div class="col-md-12">
  <form class="form-horizontal">
  <fieldset>
    <legend>Add new art</legend>
    <div class="form-group-sm">
    <label for="name" class="col-lg-3 control-label">Title</label>
    <div class="col-lg-9">
      {{input value=model.name id="name" class="form-control"}}
    </div>
      </div>

    <div class="form-group-sm">
    <label for="img_link" class="col-lg-3 control-label">Image URL</label>  
    <div class="col-lg-9">
      {{input value=model.img_link id="img_link" class="form-control"}}
    </div>
    </div>


    <div class="form-group-sm">
    <label for="description" class="col-lg-3 control-label">Description</label>
    <div class="col-lg-9">
      {{textarea value=model.description id="description" class="form-control"}}
    </div>
      </div>

    <button id="submit" class="btn btn-primary" {{action 'save' model}}>Save</button>
  </fieldset>
  </form>
</div>



</div>
<div class="col-md-4 art-block">
</div>
<div class="col-md-4 art-block">
</div>
<div class="col-md-4 art-block">
</div>
<div class="col-md-4 art-block">
</div>






