<div class="col-md-4 art-block">
</div>
<div class="col-md-4 art-block">
</div>
<div class="col-md-4 art-block">
</div>
<div class="col-md-4 art-block">
</div>
<div class="col-md-4 art-block">
<div class="col-md-12">
  <form class="form-horizontal">
  <fieldset>
    <div class="form-group">
    <label for="name" class="col-md-2">Title</label>
    <div class="col-md-10">
      {{input value=model.name id="name"}}
    </div>
      </div>

    <div class="form-group">
    <label for="img_link" class="col-md-2">Image URL</label>  
    <div class="col-md-10">
      {{input value=model.img_link id="img_link"}}
    </div>
    </div>


    <div class="form-group">
    <label for="description" class="col-md-2 ">Description</label>
    <div class="col-md-10">
      {{textarea value=model.description id="description"}}
    </div>
      </div>

    <button id="submit" class="btn btn-primary" {{action 'save' model}}>Save</button>
  </fieldset>
  </form>
</div>



</div>
<div class="col-md-4 art-block">
</div>
<div class="col-md-4 art-block">
</div>
<div class="col-md-4 art-block">
</div>
<div class="col-md-4 art-block">
</div>






